@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --m-page-width: 1400px;
  --color-1: #5227ff;
  --color-2: #f155ef;
  --color-3: #5eadf3;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-outfit);
}

.bg-surface-primary {
  @apply bg-white dark:bg-neutral-950;
}

.bg-surface-primary-inv {
  @apply bg-neutral-950 dark:bg-white;
}

.bg-surface-secondary {
  @apply bg-neutral-100 dark:bg-neutral-900;
}

.bg-overlay {
  @apply bg-neutral-900/40 dark:bg-black/60 backdrop-blur-sm;
}

.text-primary {
  @apply text-neutral-900 dark:text-neutral-50;
}

.text-primary-inv {
  @apply text-neutral-50 dark:text-neutral-900;
}

.text-secondary {
  @apply text-neutral-600 dark:text-neutral-400;
}

.text-secondary-inv {
  @apply text-neutral-400 dark:text-neutral-500;
}

.border-primary {
  @apply border-gray-950/10 dark:border-white/10;
}

/* z-index */
.z-header {
  @apply z-100;
}
.z-header-overlay {
  @apply z-99;
}

.z-drawer {
  @apply z-1000;
}
.z-drawer-overlay {
  @apply z-999;
}

.z-tooltip,
.z-popover {
  @apply z-1000;
}


